body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url(./images/more-leaves-on-green.png);
    background-color: #cccccc;
}

.banner {
    width: auto;
    background-color: white;
    margin: 0 auto;
    display: flex;
    padding: 30px;
}

.logo {
    font-size: 50px;
    padding-bottom: 0px;
    font-family: 'Monoton', cursive;
    display: flex;
}

.links {
    text-align: right;
    font-size: 20px;
    margin-left: 45%;
    margin-top: 28px;
    word-spacing: 50px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mi {
    color: darkred;
}

.health {
    color:green;
}

a {
    color: black;
    text-decoration: none;
}

.text {
    display: inline;
    color: white;
    display: inline-block;
    overflow-wrap: break-word;
    margin-left: 5%;
}

p {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    inline-size: 500px;
}

h1 {
    font-size: 60px;
    font-family: 'Abel', sans-serif;
    margin-bottom: 16px;
}

.arrow {
    margin-top: 40px;
    margin-left: 10%;
    font-weight: 800;
}

.columns {
    display: flex;
    height: 100%;
    width: 80%;
}

.foodColumn {
    width: 30%;
    height: 100%;
    position: relative;
    margin: 0px 10px;
}

.foodColumn img {
    width: 100%;
    object-fit: cover;
    height: 100%;  
}

.menuWords {
    color: black;
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-weight: 1000;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.main {
    display: flex;
    height: 500px;
    justify-content: space-between;
    padding: 50px 0px;
}

span {
    display: block;
    padding: 10px;
}

.top {
    background-color: white;
    width: 40%;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.bottom {
    background-color: rgb(141,199,40);
}