body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-color:lightblue;
}

.banner {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    padding: 30px;
}

.logo {
    font-size: 50px;
    padding-bottom: 0px;
    font-family: 'Monoton', cursive;
    display: flex;
}

.links {
    text-align: right;
    font-size: 20px;
    margin-left: 55%;
    margin-top: 28px;
    word-spacing: 50px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mi {
    color: darkred;
}

.health {
    color:black;
}

a {
    color: black;
    text-decoration: none;
}