body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-color:lightblue;
}

.banner {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    padding: 30px;
}

.logo {
    font-size: 30px;
    font-family: "Sofia", sans-serif;
}

.links {
    text-align: right;
    margin-left: 80%;
    
}